/* Custom styles for the dark theme portfolio */
@font-face {
    font-family: 'Formula font';
    src: url('../font/Formula1-Regular.otf');
}

body {
    font-family: 'Formula font', sans-serif;
}

header {
    font-family: 'Formula font', sans-serif;
    background-image: url('../images/image.jpg');
    background-size: cover;
    background-position: center;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

/* Hover effect for the name */
header h1:hover {
    color: #ccc; /* Adjust the hover color as needed */
    transform: scale(1.1); /* Scale up the text on hover */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

/* Hover effect for the social icons */
header a:hover {
    color: #ccc; /* Adjust the hover color as needed */
    transform: scale(1.2); /* Scale up the icon on hover */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

form .form-control {
    background-color: #2d2d2d;
    border: 1px solid #555;
    color: white;
}

form .form-control:focus {
    background-color: #3d3d3d;
    border-color: #777;
}

/* CSS for hover effect */
.project-card {
    transition: transform 0.2s ease;
}

.project-card:hover {
    transform: translateY(-5px); /* Adjust as needed */
}

.bg-custom {
    background-color: #202221 !important;
}

footer {
    background-color: #202221

}
